.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .swiper-pagination-bullet {
    width: rem(6px);
    height: rem(6px);
    background: #727272;
    opacity: 1;
    transition: 0.4s ease-out;
    margin: 0px !important;
    &:not(:last-child) {
      margin-right: rem(10px) !important;
    }
  }

  .swiper-pagination-bullet-active {
    width: rem(20px);
    background: #F2F2F2;
    border-radius: rem(52px);
  }
}