.popup-form-send {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #161616;
  z-index: 1001;
  padding: rem(20px);
  font-weight: 500;
  border-radius: rem(5px);
  transition: 0.4s ease-out;
  opacity: 0;
  visibility: hidden;
  color: #FFFFFF;
  width: rem(310px);
  text-align: center;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}